<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		{% load staticfiles %}
		<link rel="stylesheet" type="text/css" href="{% static 'CreateYourLaws/style.css' %}" />
		<title>{{Article.law_code.title}}: {{Article.title}}</title>
	</head>
	<body class="WorkArea">
		<header id="header" class="">
			
		</header>
		<nav>
			<ul>
				<li><a href="" title=""></a></li>
			</ul>
		</nav>
		<section>
			<article class="government">	
				<h1>{{Article.law_code.title}}</h1>
					<h2>{{Article.title}}</h2>
						<p>
							<ul script="list-style:none;">
							{% for a in rangelqs %}
								{% for x in lqs %}
									{% if x.position == a|add:'1' %}
								    	{{x.text}}
									{% endif %}
								{% endfor %}
							{% endfor %}
							</ul>
						</p>

				<!-- FORMULAIRE A RETAFFER (CHOISIR LE BON SELON PROP, QUESTION, OPINION...)
				{% if envoi %}Votre message a bien été envoyé !{% endif %}
				<form action="{% url "article" Article.id %}" method="post">
				    {% csrf_token %}
				    {{ form.as_p }}
				    <input type="submit" value="Poster" />
				</form> -->
			</article>

			<article class="opinions">
				<div class="posopinon">
					<h2>Points positifs</h2>
					<p>
						<ul>
						{% for x in listposop %}
							<li>{{x.opinon}}</li>
						{% endfor %}
						</ul>
					</p>	
				</div>

				<div class="negopinon">
					<h2>Points négatifs</h2>
					<p>
						<ul>
						{% for x in listnegop %}
							<li>{{x.opinion}}</li>
						{% endfor %}
						</ul>
					</p>	
				</div>
			</article>

			<article class="explaination">
				<h2>Commentaires / Explications</h2>
				<p>
					<ul>
					{% for x in listexplainations %}
						<li>{{x.explaination}}</li>
					{% endfor %}
					</ul>
				</p>	
			</article>

			<article class="question">
				<h2>Questions</h2>
				<p>
					<ul>
					{% for x in listquestions %}
						<li>{{x.question}}</li>
					{% endfor %}
					</ul>
				</p>	
			</article>

			<hr>

			<article class="proposition">
					<h2>Autres propositions de lois pour cette réflection</h2>
					<p>
						<ul>
						{% for x in listpropositions %}
							<li>{{x.law_article}}</li>
						{% endfor %}
						</ul>
					</p>	
			</article>
		</section>
		<footer>
			
		</footer>
	</body>
</html>