html{
	margin: 0;
    padding: 0;
    border: 0 none;
}

body{
	font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
	font-size: 12px;
    margin: 0;
    padding: 0;
    border: 0 none;
    background: #ffffff	;
    line-height: 1.1em;
}

header{
	width: 100%;
	height: 80px;
	background-color: navy;
	color:  white;
	text-align: center;
	vertical-align: middle;
}

nav{
	float: left;
	width: 15%;
	height: 700px;
	display: none;
	background: #f0f0f0;
}

aside{
	display: inline-block;
	float: right;
	width:15%;
	height: 900px;
	background: #6495ED;
}

main{
	display: inline-block;
	background:#EEF6F6;
	width: 70%;
	float: right;
	height: 100%;
	min-height: 900px;
}

#intro{
	margin: 0.2% auto;
	background: #FFFFFF;
	border-width: 4px;
	border-color: black;
	border-style: solid;
	border-radius: 8px;
	border-spacing: 10px;
	padding: 10px;
	color: black;
	display: block;
}

#content{
	margin: 0 auto;
	display: block;
}


#jstree_CYL{
	height: 100%;
	width: 100%;
	overflow: scroll;
	display: inline-block;
}

.simple_design{
	text-align: left;
	margin-bottom: 100px;	
}

section{
	display: inline-block;	
	position: relative;
	text-align: center;
	box-sizing: border-box;
	width: 98%;
}

td {
	width: 96%;
	margin: 0 auto;
	position: relative;	
	text-overflow: ellipsis;
	display: block;
	overflow: hidden;
}

section p {
	text-align: left;
}

section ul {
	text-align: left;
}

table{
	margin: 0 auto 0 auto;
	table-layout: fixed;
	text-align: left;
	width: 100%;
}

.tocenter{
	/*
	float: center;
	text-align: center;
	display: block;
	position: relative;
	margin-left: auto ;
  	margin-right: auto ;*/
}

button{
	padding: 1%;
	margin: 0.5%;
	border-radius: 30px;
	color: black;
	cursor: pointer;
	text-align: center;
}

.butexp {
	background-color: #f2cf7b;
	border-color: #f0aa01;
}

.butdis {
	background-color: #F9AC68;
	border-color: #FC540B;
}


.butqst{
	background-color: #a477cc;
	border-color: #5f2f89;
}

.butprp{
	background-color: #7ab3e7;
	border-color: #378ddd;
}

.butopp{
	background-color: #93f99a;
	border-color: #38a940;
}

.butopn{
	background-color: #f98b8b;
	border-color: #f92222;
}

.law_text table, th, td{
	list-style: none;
}

/*
.disclaim
{
	background-color: #F9AC68;
	border-width: 2px;
	border-color: #FC540B;
	border-style: solid;
	border-radius: 8px;
	border-spacing: 10px;
	margin: 1%;
	padding: 10px;
}
*/

.Bigposopinion
{
	background-color: #93f99a;
	border-width: 2px;
	border-color: #38a940;
	border-style: solid;
	border-radius: 8px;
	display: inline-block;
	width: 46%;
	margin: 0.5%;
	padding: 1%;
	clear: both;
}

.posopinion
{
	background-color: #cffcd2;
	border-width: 1px;
	border-color: #38a940;
	border-style: solid;
	border-radius: 10px;
	display: inline-block;
	margin: 0.2%;
	padding: 2%;
}

.Bignegopinion
{
	background-color: #f98b8b;
	border-width: 2px;
	border-color: #f92222;
	border-style: solid;
	border-radius: 8px;
	border-spacing: 10px;
	display: inline-block;
	vertical-align: top;
	width: 46%;
	margin: 0.5%;
	padding: 1%;
}

.negopinion
{
	background-color: #fccfcf;
	border-width: 1px;
	border-color: #f92222;
	border-style: solid;
	border-radius: 10px;
	display: inline-block;
	margin: 0.2%;
	padding: 2%;
}

.Bigproposition
{
	background-color: #7ab3e7;
	border-width: 4px;
	border-color: #378ddd;
	border-style: solid;
	border-radius: 8px;
	border-spacing: 10px;
	margin: 1%;
	padding: 10px;
}

.proposition
{
	background-color: #7ab3e7;
	border-width: 2px;
	border-color: #378ddd;
	border-style: solid;
	border-radius: 8px;
	border-spacing: 10px;
	margin: 1%;
	padding: 10px;
}

section form{
	padding: 2%;
	text-align: left;
	list-style: none;
}


.law_text
{	
	background-color: #d6d5d4;
	border-width: 4px;
	border-color: #909090;
	border-style: solid;
	border-radius: 8px;
	margin: 1%;
	padding: 1%;
}

.debate{
	overflow: auto;
}

.explaination
{
	background-color: #f7e5ba;
	border-width: 1px;
	border-color: #f0aa01;
	border-style: solid;
	border-radius: 20px;
	border-spacing: 10px;
	margin: 0.2%;
	padding: 2%;
	padding-bottom: 0.2%;
	width: 500px;
}

.question
{
	background-color:#dac8ea;
	border-width: 1px;
	border-color: #5f2f89;
	border-style: solid;
	border-radius: 20px;
	border-spacing: 10px;
	margin: 0.2%;
	padding: 2%;
	padding-bottom: 0.2%;
	width: 500px;
}

.donut
{
	vertical-align: -12px;

}

.donuts_label
{
	font-weight: bold;	
}

.icn
{
	vertical-align: -3px;	
}

.UP
{
	vertical-align: -6px;	
}

.DOWN
{
	vertical-align: -6px;	
}

.count
{
	float:  left;
}

.vote
{
	float:  right;
}

.IDB{
	padding: 1px;
}

.IDB:hover {
	background-color: #ccccff;
	cursor: pointer;
}

.clickable:hover{
	background-color: #ccccff;
}

.clickable {
	cursor: pointer;
}

#home_icone{
	float: left;
	vertical-align: middle;
	padding: 6px;
	margin: 6px;
	margin-left: 20px;
	margin-right: 20px;
}

.header_button{
	float: right;
	display: inline-block;
	font-size: 16px;
	font-weight: bold;	
	color: white;
	vertical-align: middle;
	padding: 30px;
	cursor: pointer;
}

.suscribe{
	float:right;
	font-weight: bold;
}

.list_nav{
	padding: 8px;
	margin-right: 5px;
	font-size: 14px;
	font-weight: bold;
}

.list_nav:hover {
	background-color: white;
	cursor: pointer;
}

.InDatBox:hover {
	cursor: pointer;
}

.butprofile {
	padding: 1.5%;
	margin: 2%;
	border-radius: 30px;
	cursor: pointer;
	color: white;
	background-color: navy;
}

.short_message{
	padding-left:10%; 
	padding-top:5%;
}

#Profile_section{
	margin: 2%;
}

.error_message{
	color: 	#b30000;
}

.SmallMenu{
	text-decoration: underline, bold;
	float: right;
}
.SmallMenu ul {
	margin:0;
	padding:0;
	list-style-type:none;
	text-align:left;
 }
.SmallMenu li {
	float:left;
	font-weight: bold;
	margin:auto;
	padding:0;
 }
.SmallMenu li ins {
	display:block;
	width:100px;
	text-decoration:none;
	padding:5px;
 }
.SmallMenu li ins:hover {
 	color: black;
 }

.SmallMenu ul li ul {
	display:none;
 }

.SmallMenu ul li:hover ul {
 	display:block;
 }

.SmallMenu li:hover ul li {
 	float:none;
 }
 
.SmallMenu li ul {
 	position:absolute;
 	border-width: 1px;
	border-color: grey;
	border-style: solid;
	border-radius: 2px;
	background-color: grey;
	box-shadow: 2px 2px 1px #aaa;
 }
