{# Include the hidden fields in the form #}
{% if form.non_field_errors %}
<div class="form_errors">
    {% for err in form.non_field_errors %}
        <p style='text-align: left' class="error_message">{{ err }}</p>
    {% endfor %}
</div>	
{% endif %}
{% for hidden in form.hidden_fields %}
    {{ hidden }}
{% endfor %}
{% for field in form.visible_fields %}
    <div {% if field.errors %}class="field_error"{% endif %}>
        {{ field.label_tag }}
        <p style="margin-left:50px">{{ field }}</p>
        {% for err in field.errors %}
        <span class="error_message" style="margin-left:100px">{{ err }}</span><br>
        {% endfor %}
        <br>
  </div>
{% endfor %}