{% extends "base.html" %}

{% load staticfiles %}

{% block header %}
	<a href="{% url 'home' %}"><img src="{% static 'icons/home.png' %}" alt="home" id="home_icone"></a>
	<div> 
		<a class="header_button" href="/CYL/accounts/logout" style="text-decoration:none;"> Se déconnecter </a> 
		<a class="header_button" id="option_button" style="text-decoration:none;"> Mon Profil </a> 
		<script  type="text/javascript">
		     $("#option_button").on("click",function(){
		         var win = window.open("/CYL/profile",'_blank');
		         win.focus();
		     });
		</script>        
	</div>
{% endblock %}
