<!DOCTYPE html>

<html lang="fr">
  <head>
    <meta http-equiv="Content-Type" charset="UTF-8">
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    <script type="text/javascript" src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    {% block script %} {% endblock %}
     <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <header>
      {% block header %}{% endblock %}
    </header>
     <nav>
         {% block nav %}
         {% endblock %}
     </nav>
     <main>
      {% block Main %}
      {% endblock %}  
     </main>
  <footer>
    <script type "text/javascript" data-isso="http://localhost:8181/isso" src="http://localhost:8181/js/embed.min.js"></script>
  </footer>
  </body>
</html>