{% load special_filters %}
{% load staticfiles %}


<script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
{% autoescape off %}

<!--############################################################################################
##################################      The Reflection       ###################################
#############################################################################################-->

    {% if typeref == 'loi' %}  
            <!--         The Law article           -->
        <section class="law_text">
            <h1>{{ref.law_code.title}}</h1> 
                <h2>{{ref.title}}</h2>
                    {{ref.text_law}}



    {% else %}
            <!--         The Others         -->
        {% if typeref == 'qst' %} 
            <section class="question">
                <h1> Question à propos de: 
        {% elif typeref == 'exp' %}
            <section class="explaination">
                <h1> Commentaire/explication à propos de:
        {% elif typeref == 'dis' %}
            <section class="disclaim">
                <h1> démentis/contradiction sur:  
        {% elif typeref == 'opn' %}
            {% if ref.positive %}
                <section class="posopinon">
                    <h1> point fort sur: 
            {% else %}
                <section class="negopinon">
                    <h1> point faible sur: 
            {% endif %}
        {% elif typeref == 'prp' %}
            <section class="proposition">
                <h1> Contre proposition à: 
        {% endif %} 
                {% if ref.content_object.title %}  
                    {{ref.content_object.title}} 
                {% else %}
                    {% if ref.content_object.text_op %} 
                        {{ref.content_object.text_op}} 
                    {% elif ref.content_object.text_dis %} 
                        {{ref.content_object.text_dis}}
                    {% elif ref.content_object.text_exp %} 
                        {{ref.content_object.text_exp}}
                    {% elif ref.content_object.text_prop %} 
                        {{ref.content_object.text_prop}} 
                    {% elif ref.content_object.text_q %} 
                        {{ref.content_object.text_q}}
                    {% endif %}
                {% endif %}</h1>    
                {% if ref.title %}    
                    <h2>{{ref.title}}</h2>
                    {% if typeref == 'qst' %}
                        <p>{{ref.text_q}}</p>
                    {% elif typeref == 'exp' %}
                        <p>{{ref.text_exp}}</p>
                    {% elif typeref == 'dis' %}
                        <p>{{ref.text_dis}}</p>
                    {% elif typeref == 'opn' %}
                        <p>{{ref.text_op}}</p>
                    {% elif typeref == 'prp' %}
                        <p>{{ref.text_prop}}</p>
                    {% endif %}
                {% else %}
                    {% if typeref == 'qst' %}
                        <h2>{{ref.text_q}}</h2>
                    {% elif typeref == 'exp' %}
                        <h2>{{ref.text_exp}}</h2>
                    {% elif typeref == 'dis' %}
                        <h2>{{ref.text_dis}}</h2>
                    {% elif typeref == 'opn' %}
                        <h2>{{ref.text_op}}</h2>
                    {% elif typeref == 'prp' %}
                        <h2>{{ref.text_prop}}</h2>
                    {% endif %}
                {% endif %}
    {% endif %}
                <br><br>
                <p class="count"> <img src="{% static 'icons/qst.png' %}" alt="?" class="icn"> {{ref.nb_q}}
                <img src="{% static 'icons/exp.png' %}" alt="com" class="icn"> {{ref.nb_exp}} 
                {% if typeref == 'prp' or typeref == 'loi'%}
                    <img src="{% static 'icons/opv2.png' %}" alt="op+" class="icn"> {{ref.nb_posop}}
                    <img src="{% static 'icons/opx2.png' %}" alt="op-" class="icn"> {{ref.nb_negop}}
                {% endif %}
                </p>
                <p class="vote">
                <input type="image" src="{% static 'icons/thumbs_up.png' %}" class="UP" name="{{typeref}}:{{ref.id}}" value="UP"/>
                <input type="image" src="{% static 'icons/thumbs_down.png' %}" class="DOWN" name="{{typeref}}:{{ref.id}}" value="DOWN"/>
                    note:
                <canvas id="don{{typeref}}{{ref.id}}" name="{{ref.approval_ratio}}" class="donut"></canvas>
                {% comment %}
                <var id="{{typeref}}{{ref.id}}">{{ref.approval_ratio|floatformat:2}}</var> % d'approbation{% endcomment %}
                </p>
            </section>


<!--############################################################################################
##################################      The opinions       #####################################
#############################################################################################-->
    {% if typeref == 'loi' or typeref == 'prp' %}
        <section class="opinion">
            <div class="posopinion">
                <h2>Points positifs</h2>
                <p>
                    <table>
                        <tbody>
                            {% for x in listposop %}
                                <tr>
                                    <td> 
                                        <div class='clickable GetReflection' name='opn:{{x.id}}'>
                                        {% if x.title%}
                                            {{x.title}} <br/>
                                            {{x.text_op|truncatewords:250}} <br/>
                                        {% else %}
                                            {{x.text_op}} <br/>
                                        {% endif %}
                                        </div>
                                        <p class="count">
                                        <img src="{% static 'icons/dis.png' %}" alt="dis" class="icn"> {{x.nb_dis}}
                                        <img src="{% static 'icons/qst.png' %}" alt="?" class="icn"> {{x.nb_q}}
                                        <img src="{% static 'icons/exp.png' %}" alt="com" class="icn"> {{x.nb_exp}}
                                        </p>
                                        <p class="vote">
                                        <input type="image" src="{% static 'icons/thumbs_up.png' %}" class="UP" name="opn:{{x.id}}" value="UP"/>
                                        <input type="image" src="{% static 'icons/thumbs_down.png' %}" class="DOWN" name="opn:{{x.id}}" value="DOWN"/>
                                            note:
                                        <canvas id="donopn{{x.id}}" name="{{x.approval_ratio}}" class="donut"></canvas>
                                        <p>
                                        {% comment %}
                                        <var id="opn{{x.id}}">{{x.approval_ratio|floatformat:2}}</var> % d'approbation</td> {% endcomment %}
                                </tr>
                            {% empty %}
                                Aucun point positif n'a été relevé pour le moment sur cette réflection.<br>
                                Soyez le premier à en donner un!
                            {% endfor %}
                        </tbody>
                    </table>
                </p>    
            </div>

            <div class="negopinion">
                <h2>Points négatifs</h2>
                <p>
                    <table>
                        <tbody>
                            {% for x in listnegop %}
                                <tr>
                                    <td>
                                        <div onclick="location.href='{% url 'reflection' 'opn' x.id %}'" class='clickable'>
                                        {% if x.title%}
                                            {{x.title}} <br/>
                                            {{x.text_op|truncatewords:250}} <br/>
                                        {% else %}
                                            {{x.text_op}} <br/>
                                        {% endif %}
                                        </div>
                                        <p class="count">
                                        <img src="{% static 'icons/dis.png' %}" alt="dis" class="icn"> {{x.nb_dis}}
                                        <img src="{% static 'icons/qst.png' %}" alt="?" class="icn"> {{x.nb_q}}
                                        <img src="{% static 'icons/exp.png' %}" alt="com" class="icn"> {{x.nb_exp}}
                                        </p>
                                        <p class="vote">
                                        <input type="image" src="{% static 'icons/thumbs_up.png' %}" class="UP" name="opn:{{x.id}}" value="UP"/>
                                        <input type="image" src="{% static 'icons/thumbs_down.png' %}" class="DOWN" name="opn:{{x.id}}" value="DOWN"/>
                                            note:
                                        <canvas id="donopn{{x.id}}" name="{{x.approval_ratio}}" class="donut"></canvas>
                                        </p>
                                        {% comment %}
                                        <var id="opn{{x.id}}">{{x.approval_ratio|floatformat:2}}</var> % d'approbation {% endcomment %}
                                    </td>
                                </tr>
                            {% empty %}
                                Aucun point négatif n'a été relevé pour le moment sur cette réflection.<br>
                                Soyez le premier à en donner un! 
                            {% endfor %}
                        </tbody>
                    </table>    
                </p>    
            </div>

            <button class="butopinion" type="button">Ajouter un point positif ou <br> négatif sur cette loi</button>
                <form action="{% url 'PostReflection' %}" method="post" id="opform" name="loi:{{ref.id_ref}}">
                    {{ opform.as_p }}
                    <input type="hidden" name="typeform" value="opnf">
                    <input type="hidden" name="typeref" value="{{typeref}}">
                    <input type="hidden" name="ref_id" value="{{ref.id}}">
                    <button type="submit" class="butopinion" name="btnopform">Poster le point de vue</button>
                </form>           
        </section>
    {% endif %}

<!--############################################################################################
################################      The propositions       ###################################
#############################################################################################-->
    {% if typeref == 'loi' or typeref == 'prp' %}
    <hr>

        <section class="proposition">
            <h2>Autres propositions de lois pour cette réflection</h2>
            <table>
                <tbody>
                    {% for x in listpropositions %}
                        <tr>
                            <td>
                                <div class="IDB GetReflection" name="prp:{{x.id}}">
                                    {% if x.title %}
                                        <strong>{{x.title}}</strong> <br/>
                                        {{x.text_prop|truncatewords:80}} <br/>
                                    {% else %}
                                        <strong>{{x.text_prop}}</strong> <br/>
                                    {% endif %}
                                </div>
                                <p class="count">
                                <img src="{% static 'icons/qst.png' %}" alt="?" class="icn"> {{x.nb_q}}
                                <img src="{% static 'icons/exp.png' %}" alt="com" class="icn"> {{x.nb_exp}} 
                                <img src="{% static 'icons/opv2.png' %}" alt="op+" class="icn"> {{x.nb_posop}}
                                <img src="{% static 'icons/opx2.png' %}" alt="op-" class="icn"> {{x.nb_negop}}
                                </p>
                                <p class="vote">
                                <input type="image" src="{% static 'icons/thumbs_up.png' %}"  class="UP" name="prp:{{x.id}}" value="UP"/>
                                <input type="image" src="{% static 'icons/thumbs_down.png' %}"  class="DOWN" name="prp:{{x.id}}" value="DOWN"/>
                                    note:
                                <canvas id="donprp{{x.id}}" name="{{x.approval_ratio}}" class="donut"></canvas>
                                </p>
                            </td>                   
                        </tr>
                    {% empty %}
                    Aucune contre-proposition n'a été faite pour le moment sur cette réflection.<br>
                    Soyez le premier à en faire un!
                    {% endfor %}
                </tbody>
            </table> 

        <button class="butprop" type="button">Faire une autre proposition <br>  que cette loi</button>
            <form action="{% url 'PostReflection' %}"  method="post" id="propform">
                {{ propform.as_p }} 
                <input type="hidden" name="typeform" value="prpf">
                <input type="hidden" name="typeref" value="{{typeref}}">
                <input type="hidden" name="ref_id" value="{{ref.id}}">
                <button type="submit" class="butprop" name="propform">Poster votre proposition </button>
            </form> 
        </section>
           
    {% endif %}

{% endautoescape %}

<!--############################################################################################
######################################     the Debate      #####################################
#############################################################################################-->

<section id="debate">
    <table>
        <tbody>    
             {% for x in listcom %}
            <tr>
                {% if x|isinst:'CreateYourLaws.models.Explaination' %}    
                    <td class='explaination' id="exp:{{x.id}}"> {% comment %} <div class="IDB GetReflection" name="exp:{{x.id}}"> {% endcomment %} 
                        {% if x.title %}
                            <strong>{{x.title}}</strong> <br/>
                            {{x.text_exp|truncatewords:80}} <br/>
                        {% else %}
                            <strong>{{x.text_exp}}</strong> <br/>
                        {% endif %}
                {% else %}
                    <td class='question' id="qst:{{x.id}}">  {% comment %} <div class="IDB GetReflection" name="qst:{{x.id}}"> {% endcomment %}
                        {% if x.title %}
                            <strong>{{x.title}}</strong> <br/>
                            {{x.text_q|truncatewords:80}} <br/>
                        {% else %}
                            <strong>{{x.text_q}}</strong> <br/>
                        {% endif %}
                {% endif %}                    
                <p class="count">
                    <img src="{% static 'icons/qst.png' %}" alt="?" class="icn"> {{x.nb_q}}
                    <img src="{% static 'icons/exp.png' %}" alt="com" class="icn"> {{x.nb_exp}} 
                </p>
                <p class="vote">
                {% if x|isinst:'CreateYourLaws.models.Explaination' %}   
                    <input type="image" src="{% static 'icons/thumbs_up.png' %}"  class="UP" name="exp:{{x.id}}" value="UP"/>
                    <input type="image" src="{% static 'icons/thumbs_down.png' %}"  class="DOWN" name="exp:{{x.id}}" value="DOWN"/>
                     note:
                    <canvas id="donexp{{x.id}}" name="{{x.approval_ratio}}" class="donut"></canvas>
                {% else %}
                    <input type="image" src="{% static 'icons/thumbs_up.png' %}"  class="UP" name="qst:{{x.id}}" value="UP"/>
                    <input type="image" src="{% static 'icons/thumbs_down.png' %}"  class="DOWN" name="qst:{{x.id}}" value="DOWN"/>
                    note:
                    <canvas id="donqst{{x.id}}" name="{{x.approval_ratio}}" class="donut"></canvas>
                {% endif %}
                </p>
                <br>
                <br>
                <br>
                <hr>
                {% if x|isinst:'CreateYourLaws.models.Explaination' %}
                    <p id="devexp{{x.id}}" style='text-align: center;'>
                {% else %}
                    <p id="devqst{{x.id}}" style='text-align: center;'>
                {% endif %}
                    {% if x.nb_exp != 0 or x.nb_q != 0 %}
                        <a href="getchild:exp{{x.id}}"> Voir les réactions à ce commentaire <a>
                    {% endif %}
                    Poser une question ou commentez cette réaction! <br>
                    {% if x|isinst:'CreateYourLaws.models.Explaination' %}
                        <button class="butexp" type="button" name="exp:exp:{{x.id}}"> Commenter </button>
                        <button class="butq" type="button" name="exp:qst:{{x.id}}">Poser votre question </button>
                        <p id="expaskform:{{x.id}}"></p>
                    {% else %}
                        <button class="butexp" type="button" name="qst:exp:{{x.id}}"> Commenter </button>
                        <button class="butq" type="button" name="qst:qst:{{x.id}}">Poser votre question </button>
                        <p id="qstaskform:{{x.id}}"></p>
                    {% endif %}
                    </p>
                </td>                   
            </tr>
            {% empty %}
                <h2>une réaction? Commentez ou posez votre question</h2>
            {% endfor %}
            <button class="butexp" name="exp:{{typeref}}:{{x.id}}" type="button"> Commenter </button>
            <button class="butq" name="qst:{{typeref}}:{{x.id}}" type="button">Poser votre question </button>
            <p id="{{typeref}}askform:{{x.id}}"></p>
        </tbody>
    </table> 
</section>
