{% load special_filters %}
{% load staticfiles %}


<script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
{% autoescape off %}

<!--############################################################################################
##################################      The Reflection       ###################################
#############################################################################################-->

    {% if typeref == 'loi' %}  
            <!--         The Law article           -->
        <section class="law_text">
            <h1>{{ref.law_code.title}}</h1> 
                <h2>{{ref.title}}</h2>
                    {{ref.text_law}}



    {% else %}
            <!--         The Others         -->
        {% if typeref == 'qst' %} 
            <section class="question">
                <h1> Question à propos de: 
        {% elif typeref == 'exp' %}
            <section class="explaination">
                <h1> Commentaire/explication à propos de:
        {% elif typeref == 'dis' %}
            <section class="disclaim">
                <h1> démentis/contradiction sur:  
        {% elif typeref == 'opn' %}
            {% if ref.positive %}
                <section class="posopinon">
                    <h1> point fort sur: 
            {% else %}
                <section class="negopinon">
                    <h1> point faible sur: 
            {% endif %}
        {% elif typeref == 'prp' %}
            <section class="proposition">
                <h1> Contre proposition à: 
        {% endif %} 
                {% if ref.content_object.title %}  
                    {{ref.content_object.title}} 
                {% else %}
                    {% if ref.content_object.text_op %} 
                        {{ref.content_object.text_op}} 
                    {% elif ref.content_object.text_dis %} 
                        {{ref.content_object.text_dis}}
                    {% elif ref.content_object.text_exp %} 
                        {{ref.content_object.text_exp}}
                    {% elif ref.content_object.text_prop %} 
                        {{ref.content_object.text_prop}} 
                    {% elif ref.content_object.text_q %} 
                        {{ref.content_object.text_q}}
                    {% endif %}
                {% endif %}</h1>    
                {% if ref.title %}    
                    <h2>{{ref.title}}</h2>
                    {% if typeref == 'qst' %}
                        <p>{{ref.text_q}}</p>
                    {% elif typeref == 'exp' %}
                        <p>{{ref.text_exp}}</p>
                    {% elif typeref == 'dis' %}
                        <p>{{ref.text_dis}}</p>
                    {% elif typeref == 'opn' %}
                        <p>{{ref.text_op}}</p>
                    {% elif typeref == 'prp' %}
                        <p>{{ref.text_prop}}</p>
                    {% endif %}
                {% else %}
                    {% if typeref == 'qst' %}
                        <h2>{{ref.text_q}}</h2>
                    {% elif typeref == 'exp' %}
                        <h2>{{ref.text_exp}}</h2>
                    {% elif typeref == 'dis' %}
                        <h2>{{ref.text_dis}}</h2>
                    {% elif typeref == 'opn' %}
                        <h2>{{ref.text_op}}</h2>
                    {% elif typeref == 'prp' %}
                        <h2>{{ref.text_prop}}</h2>
                    {% endif %}
                {% endif %}
    {% endif %}
                <br><br>
                <p class="count"> <img src="{% static 'icons/qst.png' %}" alt="?" class="icn"> {{ref.nb_q}}
                <img src="{% static 'icons/exp.png' %}" alt="com" class="icn"> {{ref.nb_exp}} 
                {% if typeref == 'prp' or typeref == 'loi'%}
                    <img src="{% static 'icons/opv2.png' %}" alt="op+" class="icn"> {{ref.nb_posop}}
                    <img src="{% static 'icons/opx2.png' %}" alt="op-" class="icn"> {{ref.nb_negop}}
                {% endif %}
                </p>
                <p class="vote">
                <input type="image" src="{% static 'icons/thumbs_up.png' %}" class="UP" name="{{typeref}}:{{ref.id}}" value="UP"/>
                <input type="image" src="{% static 'icons/thumbs_down.png' %}" class="DOWN" name="{{typeref}}:{{ref.id}}" value="DOWN"/>
                    note:
                <canvas id="don{{typeref}}{{ref.id}}" name="{{ref.approval_ratio}}" class="donut"></canvas>
                {% comment %}
                <var id="{{typeref}}{{ref.id}}">{{ref.approval_ratio|floatformat:2}}</var> % d'approbation{% endcomment %}
                </p>
            </section>


<!--############################################################################################
##################################      The opinions       #####################################
#############################################################################################-->
    {% if typeref == 'loi' or typeref == 'prp' %}
        <section class="opinion">
            <div class="posopinion">
                <h2>Points positifs</h2>
                <p>
                    <table>
                        <tbody>
                            {% for x in listposop %}
                                <tr>
                                    <td> 
                                        <div class='clickable GetReflection' name='opn:{{x.id}}'>
                                        {% if x.title%}
                                            {{x.title}} <br/>
                                            {{x.text_op|truncatewords:250}} <br/>
                                        {% else %}
                                            {{x.text_op}} <br/>
                                        {% endif %}
                                        </div>
                                        <p class="count">
                                        <img src="{% static 'icons/dis.png' %}" alt="dis" class="icn"> {{x.nb_dis}}
                                        <img src="{% static 'icons/qst.png' %}" alt="?" class="icn"> {{x.nb_q}}
                                        <img src="{% static 'icons/exp.png' %}" alt="com" class="icn"> {{x.nb_exp}}
                                        </p>
                                        <p class="vote">
                                        <input type="image" src="{% static 'icons/thumbs_up.png' %}" class="UP" name="opn:{{x.id}}" value="UP"/>
                                        <input type="image" src="{% static 'icons/thumbs_down.png' %}" class="DOWN" name="opn:{{x.id}}" value="DOWN"/>
                                            note:
                                        <canvas id="donopn{{x.id}}" name="{{x.approval_ratio}}" class="donut"></canvas>
                                        <p>
                                        {% comment %}
                                        <var id="opn{{x.id}}">{{x.approval_ratio|floatformat:2}}</var> % d'approbation</td> {% endcomment %}
                                </tr>
                            {% empty %}
                                Aucun point positif n'a été relevé pour le moment sur cette réflection.<br>
                                Soyez le premier à en donner un!
                            {% endfor %}
                        </tbody>
                    </table>
                </p>    
            </div>

            <div class="negopinion">
                <h2>Points négatifs</h2>
                <p>
                    <table>
                        <tbody>
                            {% for x in listnegop %}
                                <tr>
                                    <td>
                                        <div onclick="location.href='{% url 'reflection' 'opn' x.id %}'" class='clickable'>
                                        {% if x.title%}
                                            {{x.title}} <br/>
                                            {{x.text_op|truncatewords:250}} <br/>
                                        {% else %}
                                            {{x.text_op}} <br/>
                                        {% endif %}
                                        </div>
                                        <p class="count">
                                        <img src="{% static 'icons/dis.png' %}" alt="dis" class="icn"> {{x.nb_dis}}
                                        <img src="{% static 'icons/qst.png' %}" alt="?" class="icn"> {{x.nb_q}}
                                        <img src="{% static 'icons/exp.png' %}" alt="com" class="icn"> {{x.nb_exp}}
                                        </p>
                                        <p class="vote">
                                        <input type="image" src="{% static 'icons/thumbs_up.png' %}" class="UP" name="opn:{{x.id}}" value="UP"/>
                                        <input type="image" src="{% static 'icons/thumbs_down.png' %}" class="DOWN" name="opn:{{x.id}}" value="DOWN"/>
                                            note:
                                        <canvas id="donopn{{x.id}}" name="{{x.approval_ratio}}" class="donut"></canvas>
                                        </p>
                                        {% comment %}
                                        <var id="opn{{x.id}}">{{x.approval_ratio|floatformat:2}}</var> % d'approbation {% endcomment %}
                                    </td>
                                </tr>
                            {% empty %}
                                Aucun point négatif n'a été relevé pour le moment sur cette réflection.<br>
                                Soyez le premier à en donner un! 
                            {% endfor %}
                        </tbody>
                    </table>    
                </p>    
            </div>

            <button class="butopinion" type="button">Ajouter un point positif ou <br> négatif sur cette loi</button>
                <form action="{% url 'reflection' %}" method="post" id="opform">
                    {{ opform.as_p }}
                    <button type="submit" class="butopinion" name="btnopform">Poster le point de vue</button>
                </form>           
        </section>
    {% endif %}


<!--############################################################################################
##################################      The disclaims       #####################################
#############################################################################################-->
    {% if typeref == 'exp' or typeref == 'opn' or typeref == 'dis' %}
        <section class="disclaim">
            <h2> contestation / démentis </h2>
            <table>
                <tbody>
                    {% for x in listdisclaims %}
                        <tr>
                            <td>
                                <div onclick="location.href='{% url 'reflection' 'dis' x.id %}'" class='clickable'>
                                {% if x.title %}
                                    <strong>{{x.title}}</strong> <br/>
                                    {{x.text_dis|truncatewords:25}} 
                                {% else %}
                                    <strong>{{x.text_dis}}</strong> <br/>
                                {% endif %}
                                </div>
                                <p class="count">
                                <img src="{% static 'icons/dis.png' %}" alt="dis" class="icn"> {{x.nb_dis}}
                                <img src="{% static 'icons/qst.png' %}" alt="?" class="icn"> {{x.nb_q}}
                                <img src="{% static 'icons/exp.png' %}" alt="com" class="icn"> {{x.nb_exp}}
                                </p>
                                <p class="vote">
                                <input type="image" src="{% static 'icons/thumbs_up.png' %}" class="UP" name="dis:{{x.id}}" value="UP"/>
                                <input type="image" src="{% static 'icons/thumbs_down.png' %}" class="DOWN" name="dis:{{x.id}}" value="DOWN"/>
                                    note:
                                <canvas id="dondis{{x.id}}" name="{{x.approval_ratio}}" class="donut"></canvas>
                                </p>
                                {% comment %}
                                <var id="dis{{x.id}}">{{x.approval_ratio|floatformat:2}}</var> % d'approbation{% endcomment %}
                            </td>                   
                        </tr>
                    {% empty %}
                        Aucune contestation n'a été faite pour le moment sur cette réflection.<br>
                        Soyez le premier à en donner une!
                    {% endfor %}                
                </tbody>
            </table>    

            <button class="butdis" type="button">Faire un démentis <br>  sur cette loi</button>
                <form action="{% url 'reflection' %}" method="post" id="disform">
                    {{ disform.as_p }}
                    <button type="submit" class="butdis" name="btndisform">Poster le démentis</button>
                </form>
        </section>
    {% endif %}

<!--############################################################################################
###############################      The neutral comments       ################################
#############################################################################################-->
    
    <section class="explaination">
        <h2>Commentaires / Explications</h2>
        <table>
            <tbody>
                {% for x in listexplainations %}
                    <tr>
                        <td>
                            <div onclick="location.href='{% url 'reflection' 'exp' x.id %}'" class='clickable'>
                            {% if x.title %}
                                <strong>{{x.title}}</strong> <br/>
                                {{x.text_exp|truncatewords:25}} 
                            {% else %}
                                <strong>{{x.text_exp}}</strong> <br/>
                            {% endif %}
                            </div>
                            <p class="count">
                            <img src="{% static 'icons/dis.png' %}" alt="dis" class="icn"> {{x.nb_dis}}
                            <img src="{% static 'icons/qst.png' %}" alt="?" class="icn"> {{x.nb_q}}
                            <img src="{% static 'icons/exp.png' %}" alt="com" class="icn"> {{x.nb_exp}}</p>
                            <p class="vote">
                            <input type="image" src="{% static 'icons/thumbs_up.png' %}"  class="UP" name="exp:{{x.id}}" value="UP"/>
                            <input type="image" src="{% static 'icons/thumbs_down.png' %}"  class="DOWN" name="exp:{{x.id}}" value="DOWN"/>
                               note:
                            <canvas id="donexp{{x.id}}" name="{{x.approval_ratio}}" class="donut"></canvas>
                            </p>
                            {% comment %}
                            <var id="exp{{x.id}}">{{x.approval_ratio|floatformat:2}}</var> % d'approbation{% endcomment %}
                        </td>                   
                    </tr>
                {% empty %}
                    Aucun commentaire n'a été fait pour le moment sur cette réflection.<br>
                    Soyez le premier à en faire un!
                {% endfor %}
            </tbody>
        </table>    

        <button class="butexp" type="button">Faire un commentaire neutre <br>  sur cette loi</button>
            <form action="{% url 'reflection' %}" method="post" id="expform">
                {% include "base_form.html" with form=expform %}
                <button type="submit" class="butexp" name="btnexpform">Poster le commentaire</button>
            </form>

    </section>


<!--############################################################################################
#################################      The questions       #####################################
#############################################################################################-->

    <section class="question">
        <h2>Questions</h2>
            <table>
                <tbody>
                    {% for x in listquestions %}
                        <tr>
                            <td>
                                <div onclick="location.href='{% url 'reflection' 'qst' x.id %}'" class='clickable'>
                                    {% if x.title %}
                                        <strong>{{x.title}}</strong> <br/>
                                        {{x.text_q|truncatewords:80}} <br/>
                                    {% else %}
                                        <strong>{{x.text_q}}</strong> <br/>
                                    {% endif %}
                                </div>
                                <p class="count">
                                <img src="{% static 'icons/qst.png' %}" alt="?" class="icn"> {{x.nb_q}}
                                <img src="{% static 'icons/exp.png' %}" alt="com" class="icn"> {{x.nb_exp}}
                                </p>
                                <p class="vote">
                                <input type="image" src="{% static 'icons/thumbs_up.png' %}"  class="UP" name="qst:{{x.id}}" value="UP"/>
                                <input type="image" src="{% static 'icons/thumbs_down.png' %}"  class="DOWN" name="qst:{{x.id}}" value="DOWN"/>
                                    note:
                                <canvas id="donqst{{x.id}}" name="{{x.approval_ratio}}" class="donut"></canvas>
                                </p>
                                {% comment %}
                                <var id="qst{{x.id}}">{{x.approval_ratio|floatformat:2}}</var> % d'approbation{% endcomment %}
                            </td>                   
                        </tr>
                    {% empty %}
                    Aucune question n'a été posée pour le moment sur cette réflection.<br>
                    Soyez le premier à en poser une!
                    {% endfor %}
                </tbody>
            </table>    

        <button class="butq" type="button">Poser une question <br>  à propos de cette loi</button>
            <form action="{% url 'reflection' %}" method="post" id="qform">
                {{ qform.as_p }}
                <button type="submit" class="butq" name="btnqform">Poster la question</button>
            </form>
     </section>
    

<!--############################################################################################
################################      The propositions       ###################################
#############################################################################################-->
    {% if typeref == 'loi' or typeref == 'prp' %}
    <hr>

        <section class="proposition">
            <h2>Autres propositions de lois pour cette réflection</h2>
            <table>
                <tbody>
                    {% for x in listpropositions %}
                        <tr>
                            <td>
                                <div onclick="location.href='{% url 'reflection' 'prp' x.id %}'" class='clickable'>
                                    {% if x.title %}
                                        <strong>{{x.title}}</strong> <br/>
                                        {{x.text_prop|truncatewords:80}} <br/>
                                    {% else %}
                                        <strong>{{x.text_prop}}</strong> <br/>
                                    {% endif %}
                                </div>
                                <p class="count">
                                <img src="{% static 'icons/qst.png' %}" alt="?" class="icn"> {{x.nb_q}}
                                <img src="{% static 'icons/exp.png' %}" alt="com" class="icn"> {{x.nb_exp}} 
                                <img src="{% static 'icons/opv2.png' %}" alt="op+" class="icn"> {{x.nb_posop}}
                                <img src="{% static 'icons/opx2.png' %}" alt="op-" class="icn"> {{x.nb_negop}}
                                </p>
                                <p class="vote">
                                <input type="image" src="{% static 'icons/thumbs_up.png' %}"  class="UP" name="prp:{{x.id}}" value="UP"/>
                                <input type="image" src="{% static 'icons/thumbs_down.png' %}"  class="DOWN" name="prp:{{x.id}}" value="DOWN"/>
                                    note:
                                <canvas id="donprp{{x.id}}" name="{{x.approval_ratio}}" class="donut"></canvas>
                                </p>
                                {% comment %}
                                <var id="prp{{x.id}}">{{x.approval_ratio|floatformat:2}}</var> % d'approbation{% endcomment %}
                            </td>                   
                        </tr>
                    {% empty %}
                    Aucune contre-proposition n'a été faite pour le moment sur cette réflection.<br>
                    Soyez le premier à en faire un!
                    {% endfor %}
                </tbody>
            </table> 

        <button class="butprop" type="button">Faire une autre proposition <br>  que cette loi</button>
            <form action="{% url 'PostAProp' %}" method="post" id="propform">
                {{ propform.as_p }}
                <input type="hidden" name="typeref" value="{{typeref}}">
                <input type="hidden" name="ref_id" value="{{ref.id}}">
                <button type="submit" class="butprop" name="propform">Poster votre proposition </button>
            </form> 
        </section>
    {% endif %}
{% endautoescape %}