{% load staticfiles %}
<form action="{% url 'PostReflection'%}"  method="post" id="{{typeref}}form{{idref}}">
    {{ form.as_p }} 
    <input type="hidden" name="typeform" value="{{typeform}}f">
    <input type="hidden" name="typeref" value="{{typeref}}">
    <input type="hidden" name="ref_id" value="{{idref}}">
<button type="submit" class="but{{typeform}}" name="{{typeform}}form{{idref}}"> Envoyer </button>
{% if modifForm %}
	<button class="but{{typeform}}" name="Cancel{{typeform}}form"> Annuler </button>
{% endif%}
</form> 
<script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>