{% extends "base_CYL.html" %}
{% load special_filters %}
{% load staticfiles %}

{% block intro %}
<h1> Où suis-je? </h1>
<p> 
    {% if typeref == 'loi' %}    <!--         The path to the Article           -->
        {% for x in listparents %}
            <var class="InDatBox BoxIntroStyle" name="{{x|lookup:2}}:{{x|lookup:1}}"><strong>  {{x|lookup:0|truncatewords:4}}  </strong></var>  >>  
        {% endfor %}
    {% elif typeref == 'prp' %}  
        <var class="InDatBox BoxIntroStyle" name="1:{{ref.law_article.law_code.id}}"><strong>  {{ ref.law_article.law_code.title|truncatewords:4}}  </strong></var>  >>  ...  >>  <var class="GetReflection law_text" name="loi:{{ref.law_article.id}}"><strong>  {{ref.law_article.title|truncatewords:4}}  </strong></var>   >>   
    {% else %}   <!--         The path to the reflection       -->
        <var class="InDatBox BoxIntroStyle" name="1:{{law_code.id}}"><strong>  {{ law_code.title|truncatewords:4}}  </strong></var>  >>  ...  >>  
        {% for x in list_parents %}
            <var class="GetReflection {{x|lookup:0|Csstype}}" name="{{x|lookup:0}}:{{x|lookup:1}}"><strong>  {{x|lookup:2|truncatewords:4}}  </strong></var>  >>     
        {% endfor %}
    {% endif %}
    <var class="{{typeref|Csstype}}">
    {% if ref.title %}    
        {{ref.title|truncatewords:8}}
    {% else %}
        {{ref.text|truncatewords:8}}
    {% endif %}
    </var>
</p>

{% endblock %}


{% block content %}
{% autoescape off %}
<!--##########################################################################################
##################################      The Reflection       #################################
###########################################################################################-->

    {% if typeref == 'loi' %}  
            <!--         The Law article           -->
        <section class="law_section">
            <h1>{{ref.law_code.title}}</h1> 
                <h2>{{ref.title}}</h2>
                <p>{{ref.text_law}}</p>

    {% else %}
            <!--         The Others         -->
        {% if typeref == 'qst' %} 
                <h1> Question à propos de: 
        {% elif typeref == 'exp' %}
                <h1> Commentaire/explication à propos de:
        {% elif typeref == 'opp' %}
                <h1> point fort sur: 
        {% elif typeref == 'opn' %}
                <h1> point faible sur: 
        {% elif typeref == 'prp' %}
                <h1> Contre proposition à: 
        {% endif %} 
        <span class="GetReflection" name="{{fstparent|lookup:0}}:{{fstparent|lookup:1}}"> 
        {% if ref.content_object.title %}  
            {{ref.content_object.title}} 
        {% else %}
            {% if ref.content_object.text_opp %} 
                {{ref.content_object.text_opp}}
            {% elif ref.content_object.text_opn %} 
                {{ref.content_object.text_opn}}
            {% elif ref.content_object.text_exp %} 
                {{ref.content_object.text_exp}}
            {% elif ref.content_object.text_prp %} 
                {{ref.content_object.text_prp}}
            {% elif ref.content_object.text_q %} 
                {{ref.content_object.text_q}}
            {% endif %}
        {% endif %}</span></h1>
                {% if typeref == 'qst' %} 
            <section class="question"> 
        {% elif typeref == 'exp' %}
            <section class="explaination">
        {% elif typeref == 'opp' %}
            <section class="posopinion">
        {% elif typeref == 'opn' %}
            <section class="negopinion">
        {% elif typeref == 'prp' %}
            <section class="proposition">
        {% endif %}     
        {% if ref.title %}    
            <h2>{{ref.title}}</h2>
            {% if typeref == 'qst' %}
                <p>{{ref.text_q}}</p>
            {% elif typeref == 'exp' %}
                <p>{{ref.text_exp}}</p>
            {% elif typeref == 'opp' %}
                <p>{{ref.text_opp}}</p>
            {% elif typeref == 'opn' %}
                <p>{{ref.text_opn}}</p>
            {% elif typeref == 'prp' %}
                <p>{{ref.text_prp}}</p>
                <i><ins>But recherché par cette contre-proposition:</ins></i>
                <p>{{ref.details_prp}}</p>
            {% endif %}
        {% else %}
            {% if typeref == 'qst' %}
                <h2>{{ref.text_q}}</h2>
            {% elif typeref == 'exp' %}
                <h2>{{ref.text_exp}}</h2>
            {% elif typeref == 'opp' %}
                <h2>{{ref.text_opp}}</h2>
            {% elif typeref == 'opn' %}
                <h2>{{ref.text_opn}}</h2>
            {% elif typeref == 'prp' %}
                <h2>{{ref.text_prop}}</h2>
            {% endif %}
        {% endif %}
    {% endif %}
                <p class="count"> <img src="{% static 'icons/qst.png' %}" alt="?" class="icn"> {{ref.nb_q}}
                <img src="{% static 'icons/exp.png' %}" alt="com" class="icn"> {{ref.nb_exp}} 
                </p>
                <p class="vote">
                    <input type="image" src="{% static 'icons/thumbs_up.png' %}" class="UP" name="{{typeref}}:{{ref.id}}" value="UP"/>
                    <input type="image" src="{% static 'icons/thumbs_down.png' %}" class="DOWN" name="{{typeref}}:{{ref.id}}" value="DOWN"/>
                        note:
                    <canvas id="don{{typeref}}{{ref.id}}" name="{{ref.approval_ratio}}" class="donut"></canvas>
                </p>
                {% if typeref == 'prp' or typeref == 'loi'%}
                    <br>
                    <br>
                    <br>
                    <br>
                    <hr>
                    <article class="Bigposopinion UpSection" id="posopsection">
                        <h2>Points positifs</h2>
                        <table>
                            {% for x in listposop %}
                                <tr>
                                    <td id="opptd{{x.id}}" class="posopinion"> 
                                        {% if User == x.autor %}
                                            <div class="SmallMenu">
                                            <ul>
                                                <li> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="{% static 'icons/menu.png' %}" alt="menu" class="icn">
                                                    <ul>
                                                        <li><ins class="DelOwnRef clickable " name="del:opp:{{x.id}}">supprimer</ins></li> 
                                                        <li><ins class="ModifRef clickable " name="modif:opp:{{x.id}}:{{typeref}}:{{ref.id}}">Modifier</ins></li>
                                                    </ul>
                                                </li>
                                            </ul> 
                                            </div>
                                        {% endif %}
                                        <div class='clickable GetReflection' name='opp:{{x.id}}'>
                                        {% if x.title%}
                                            <b>{{x.title}}</b> <br/>
                                            {{x.text_opp|truncatewords:250}}
                                        {% else %}
                                            {{x.text_opp}}
                                        {% endif %}
                                        </div>
                                        <div class="count">
                                        <img src="{% static 'icons/qst.png' %}" alt="?" class="icn"> {{x.nb_q}}
                                        <img src="{% static 'icons/exp.png' %}" alt="com" class="icn"> {{x.nb_exp}}
                                        </div>
                                        <div class="vote">
                                        <input type="image" src="{% static 'icons/thumbs_up.png' %}" class="UP" name="opp:{{x.id}}" value="UP"/>
                                        <input type="image" src="{% static 'icons/thumbs_down.png' %}" class="DOWN" name="opp:{{x.id}}" value="DOWN"/>
                                            note:
                                        <canvas id="donopp{{x.id}}" name="{{x.approval_ratio}}" class="donut"></canvas>
                                        </div>
                                        {% comment %}
                                        <var id="opn{{x.id}}">{{x.approval_ratio|floatformat:2}}</var> % d'approbation {% endcomment %}
                                    </td>
                                </tr>
                            {% empty %}
                                Aucun point positif n'a été relevé pour le moment sur cette réflection. Soyez le premier à en donner un!
                            {% endfor %}
                        </table>
                        <div id='pos{{x.id}}comments'>
                            <button class="butopp" type="button">Ajouter un point positif ou <br> négatif sur cette loi</button>
                            <form action="{% url 'PostReflection'%}" method="post" id="oppform" name="loi:oppf:{{ref.id}}">
                                {{ oppform.as_p }}
                                <input type="hidden" name="typeform" value="oppf">
                                <input type="hidden" name="typeref" value="{{typeref}}">
                                <input type="hidden" name="ref_id" value="{{ref.id}}">
                                <input type="hidden" name="IsModif" value="">
                                <!-- <input type="hidden" name="ref_id" value="{{ref.id}}"> -->
                                <button type="submit" class="posopinion" name="btnoppform">Poster le point de vue</button>
                            </form>
                        </div>    
                    </article>

                    <article class="Bignegopinion UpSection" id="negopsection">
                        <h2>Points négatifs</h2>
                        <div id="negopdiv">
                            <table>
                                <tbody>
                                    {% for x in listnegop %}
                                        <tr>
                                            <td id="opntd{{x.id}}" class="negopinion">
                                                {% if User == x.autor %}
                                                    <div class="SmallMenu">
                                                    <ul>
                                                        <li> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="{% static 'icons/menu.png' %}" alt="menu" class="icn">
                                                            <ul>
                                                                <li><ins class="DelOwnRef clickable " name="del:opn:{{x.id}}">supprimer</ins></li> 
                                                                <li><ins class="ModifRef clickable " name="modif:opn:{{x.id}}:{{typeref}}:{{ref.id}}">Modifier</ins></li>
                                                            </ul>
                                                        </li>
                                                    </ul> 
                                                    </div>
                                                {% endif %}
                                                <div class='clickable GetReflection' name='opn:{{x.id}}'>
                                                {% if x.title%}
                                                    <b>{{x.title}}</b>
                                                    {{x.text_opn|truncatewords:250}}
                                                {% else %}
                                                    {{x.text_opn}}
                                                {% endif %}
                                                </div>
                                                <div class="count">
                                                <img src="{% static 'icons/qst.png' %}" alt="?" class="icn"> {{x.nb_q}}
                                                <img src="{% static 'icons/exp.png' %}" alt="com" class="icn"> {{x.nb_exp}}
                                                </div>
                                                <div class="vote">
                                                <input type="image" src="{% static 'icons/thumbs_up.png' %}" class="UP" name="opn:{{x.id}}" value="UP"/>
                                                <input type="image" src="{% static 'icons/thumbs_down.png' %}" class="DOWN" name="opn:{{x.id}}" value="DOWN"/>
                                                    note:
                                                <canvas id="donopn{{x.id}}" name="{{x.approval_ratio}}" class="donut"></canvas>
                                                </div>
                                                {% comment %}
                                                <var id="opn{{x.id}}">{{x.approval_ratio|floatformat:2}}</var> % d'approbation {% endcomment %}
                                            </td>
                                        </tr>
                                    {% empty %}
                                        Aucun point négatif n'a été relevé pour le moment sur cette réflection. Soyez le premier à en donner un! 
                                    {% endfor %}
                                </tbody>
                            </table> 
                        </div>
                        <div id='neg{{x.id}}comments'>
                            <button class="butopn" type="button">Ajouter un point positif ou <br> négatif sur cette loi</button>
                            <form action="{% url 'PostReflection'%}" method="post"  id="opnform" name="loi:opnf:{{ref.id}}">
                                {{ opnform.as_p }}
                                <input type="hidden" name="typeform" value="opnf">
                                <input type="hidden" name="typeref" value="{{typeref}}">
                                <input type="hidden" name="ref_id" value="{{ref.id}}">
                                <input type="hidden" name="IsModif" value="">
                                <button type="submit" class="negopinion" name="btnopnform">Poster le point de vue</button>
                            </form>     
                        </div>    
                    </article>
                {% endif %}
            </section>

<!--############################################################################################
################################      The propositions       ###################################
#############################################################################################-->
    {% if typeref == 'loi' or typeref == 'prp' %}
    <hr>
    <section class="Bigproposition UpSection" id="propsection">  {% comment %}PostReflection must be update if this line is modified {% endcomment %}
        <h2>Autres propositions de lois pour cette réflection</h2>
        <table>
            <tbody>
                {% for x in listpropositions %}
                    <tr>
                        <td id="prptd{{x.id}}" class="proposition">
                            {% if User == x.autor %}
                                <div class="SmallMenu">
                                <ul>
                                <li> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="{% static 'icons/menu.png' %}" alt="menu" class="icn">
                                    <ul>
                                    <li><ins class="DelOwnRef clickable " name="del:prp:{{x.id}}">supprimer</ins></li> 
                                    <li><ins class="ModifRef clickable " name="modif:prp:{{x.id}}:{{typeref}}:{{ref.id}}">Modifier</ins></li>
                                  
                                    </ul>
                                </ul> 
                                </div>
                                <br>
                            {% endif %}
                            <div class="IDB GetReflection" name="prp:{{x.id}}">

                                {% if x.title %}
                                    <strong><b>{{x.title}}</b></strong> <br/>
                                    {{x.text_prp|truncatewords:80}} <br/>
                                {% else %}
                                    <strong>{{x.text_prp}}</strong> <br/>
                                {% endif %}
                                <i><ins>Nota:</ins></i><br/>{{x.details_prp}}
                            </div>
                            <div class="count">
                            <img src="{% static 'icons/qst.png' %}" alt="?" class="icn"> {{x.nb_q}}
                            <img src="{% static 'icons/exp.png' %}" alt="com" class="icn"> {{x.nb_exp}} 
                            <img src="{% static 'icons/opv2.png' %}" alt="opp" class="icn"> {{x.nb_posop}}
                            <img src="{% static 'icons/opx2.png' %}" alt="opn" class="icn"> {{x.nb_negop}}
                            </div>
                            <div class="vote">
                            <input type="image" src="{% static 'icons/thumbs_up.png' %}"  class="UP" name="prp:{{x.id}}" value="UP"/>
                            <input type="image" src="{% static 'icons/thumbs_down.png' %}"  class="DOWN" name="prp:{{x.id}}" value="DOWN"/>
                                note:
                            <canvas id="donprp{{x.id}}" name="{{x.approval_ratio}}" class="donut"></canvas>
                            </div>
                        </td>                   
                    </tr>
                {% empty %}
                Aucune contre-proposition n'a été faite pour le moment sur cette réflection.<br>
                Soyez le premier à en faire un!
                {% endfor %}
            </tbody>
        </table> 
        <div id='prp{{x.id}}comments'>
            <button class="butprp" type="button">Faire une autre proposition <br>  que cette loi</button>
            <form action="{% url 'PostReflection'%}"  method="post" id="prpform" name="loi:prpf:{{ref.id}}">
                {{ prpform.as_p }} 
                <input type="hidden" name="typeform" value="prpf">
                <input type="hidden" name="typeref" value="{{typeref}}">
                <input type="hidden" name="ref_id" value="{{ref.id}}">
                <input type="hidden" name="IsModif" value="">
                <button type="submit" class="butprp" name="prpform">Poster votre proposition </button>
            </form> 
        </div>
    </section>
           
    {% endif %}

<!--############################################################################################
######################################     the Debate      #####################################
#############################################################################################-->

<section id="{{typeref}}debate{{id_ref}}" class="UpSection">
    <table>    
        {% for x in listcom %}
        <tr>
            {% if x|isinst:'CreateYourLaws.models.Explaination' %}    
                <td id="exptd{{x.id}}" class="explaination"> {% comment %} <div class="IDB GetReflection" name="exp:{{x.id}}"> {% endcomment %} 
                    {% if User == x.autor %}
                        <div class="SmallMenu">
                        <ul>
                            <li> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="{% static 'icons/menu.png' %}" alt="menu" class="icn">
                                <ul>
                                    <li><ins class="DelOwnRef clickable " name="del:exp:{{x.id}}">supprimer</ins></li> 
                                    <li><ins class="ModifRef clickable " name="modif:exp:{{x.id}}:{{typeref}}:{{ref.id}}">Modifier</ins></li>
                                    <li><ins class="GetReflection clickable " name="exp:{{x.id}}">ouvrir</ins></li>
                                </ul>
                            </li>
                        </ul> 
                        </div>
                    {% endif %}
                    {% if x.title %}
                        <strong><b>{{x.title}}</b></strong>
                        {{x.text_exp|truncatewords:80}}
                    {% else %}
                        <strong>{{x.text_exp}}</strong>
                    {% endif %}
            {% else %}
                <td id="qsttd{{x.id}}" class="question">  {% comment %} <div class="IDB GetReflection" name="qst:{{x.id}}"> {% endcomment %}
                    {% if User == x.autor %}
                        <div class="SmallMenu">
                        <ul>
                            <li> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="{% static 'icons/menu.png' %}" alt="menu" class="icn">
                                <ul>
                                    <li><ins class="DelOwnRef clickable " name="del:qst:{{x.id}}">supprimer</ins></li> 
                                    <li><ins class="ModifRef clickable " name="modif:qst:{{x.id}}:{{typeref}}:{{ref.id}}">Modifier</ins></li>
                                    <li><ins class="GetReflection clickable " name="qst:{{x.id}}">ouvrir</ins></li>
                                </ul>
                            </li>
                        </ul> 
                        </div>
                    {% endif %}
                    {% if x.title %}
                        <strong><b>{{x.title}}</b></strong>
                        {{x.text_q|truncatewords:80}}
                    {% else %}
                        <strong>{{x.text_q}}</strong> 
                    {% endif %}
            {% endif %}             
            <div class="count">
                <img src="{% static 'icons/qst.png' %}" alt="?" class="icn"> {{x.nb_q}}
                <img src="{% static 'icons/exp.png' %}" alt="com" class="icn"> {{x.nb_exp}} 
            </div>
            <div class="vote">
            {% if x|isinst:'CreateYourLaws.models.Explaination' %}   
                <input type="image" src="{% static 'icons/thumbs_up.png' %}"  class="UP" name="exp:{{x.id}}" value="UP"/>
                <input type="image" src="{% static 'icons/thumbs_down.png' %}"  class="DOWN" name="exp:{{x.id}}" value="DOWN"/>
                 note:
                <canvas id="donexp{{x.id}}" name="{{x.approval_ratio}}" class="donut"></canvas>
            {% else %}
                <input type="image" src="{% static 'icons/thumbs_up.png' %}"  class="UP" name="qst:{{x.id}}" value="UP"/>
                <input type="image" src="{% static 'icons/thumbs_down.png' %}"  class="DOWN" name="qst:{{x.id}}" value="DOWN"/>
                note:
                <canvas id="donqst{{x.id}}" name="{{x.approval_ratio}}" class="donut"></canvas>
            {% endif %}
            </div>
            <br>
            <br>
            <hr>
            {% if x|isinst:'CreateYourLaws.models.Explaination' %}
                <p id="devexp{{x.id}}" style='text-align: center;'>
            {% else %}
                <p id="devqst{{x.id}}" style='text-align: center;'>
            {% endif %}
                {% if x.nb_exp != 0 or x.nb_q != 0 %}
                    {% if x|isinst:'CreateYourLaws.models.Explaination' %}
                        <span class="GetDebateChild" name="childexp{{x.id}}" id="childexp{{x.id}}"> Voir les réactions à ce commentaire </span>
                    {% else %}
                        <span class="GetDebateChild" name="childqst{{x.id}}" id="childqst{{x.id}}"> Voir les réactions à ce commentaire </span>
                    {% endif %}
                {% else %}
                    {% if x|isinst:'CreateYourLaws.models.Explaination' %}
                    <button class="butexp" type="button" name="exp:exp:{{x.id}}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Commenter&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
                    <button class="butqst" type="button" name="exp:qst:{{x.id}}">Poser votre question </button>
                    <span id="expaskform{{x.id}}" class="tocenter UpSection"></span>
                    {% else %}
                    <button class="butexp" type="button" name="qst:exp:{{x.id}}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Commenter&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
                    <button class="butqst" type="button" name="qst:qst:{{x.id}}">Poser une question </button>
                    <span id="qstaskform{{x.id}}" class="tocenter UpSection"></span>
                    {% endif %}
                {% endif %}
                </p>
            </td>                   
        </tr>
        {% endfor %}            
    </table> 
    {% if typeref == 'loi' or typeref == 'prp' %}
        <h3>une réaction?</h3>
    {% endif %}
    <button class="butexp" name="{{typeref}}:exp:{{id_ref}}" type="button">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Commenter&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
    <button class="butqst" name="{{typeref}}:qst:{{id_ref}}" type="button">Poser une question </button>
    <span id="{{typeref}}askform{{id_ref}}"></span>
</section>

{% endautoescape %}
<!--
<script>window.CKEDITOR_BASEPATH = '/static/ckeditor/ckeditor/';</script> -->
<script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor/adapters/jquery.js" %}"></script>

{% endblock %}


