{% extends "base_CYL.html" %}
{% load staticfiles %}
{% load special_filters %}


{% block intro %}

<h1> Où suis-je? </h1>
<p> 
    {% if typeref == 'loi' %}    <!--         The path to the Article           -->
        {% for x in listparents %}
            <var class="InDatBox" name="{{x|lookup:2}}:{{x|lookup:1}}"><strong>  {{x|lookup:0|truncatewords:4}}  </strong></var>  >>     
        {% endfor %}
        {{ref.title}}
    {% elif typeref == 'prp' %}  
        C'est une proposition!
    {% else %}   <!--         The path to the reflection       -->
        <var class="InDatBox" name="1:{{x|lookup:1}}"><strong>  {{ law_code.title|truncatewords:4}}  </strong></var>  >>  ...  >>
        {% for x in list_parents %}
            <var class="GetReflection" name="{{x|lookup:0}}:{{x|lookup:1}}"><strong>  {{x|lookup:2|truncatewords:4}}  </strong></var>  >>     
        {% endfor %}
        {% if ref.title %}    
            {{ref.title|truncatewords:8}}
        {% else %}
            {{ref.text|truncatewords:8}}
        {% endif %}
    {% endif %}
</p>

{% endblock %}


{% block content %}

{% autoescape off %}
<!--############################################################################################
##################################      The Reflection       ###################################
#############################################################################################-->

    {% if typeref == 'loi' %}  
            <!--         The Law article           -->
        <section class="law_text">
            <h1>{{ref.law_code.title}}</h1> 
                <h2>{{ref.title}}</h2>
                    {{ref.text_law}}



    {% else %}
            <!--         The Others         -->
        {% if typeref == 'qst' %} 
            <section class="question">
                <h1> Question à propos de: 
        {% elif typeref == 'exp' %}
            <section class="explaination">
                <h1> Commentaire/explication à propos de:
        {% elif typeref == 'dis' %}
        {% comment %}
            <section class="disclaim">
                <h1> démentis/contradiction sur:
                {% endcomment %}

        {% elif typeref == 'opn' %}
            {% if ref.positive %}
                <section class="posopinon">
                    <h1> point fort sur: 
            {% else %}
                <section class="negopinon">
                    <h1> point faible sur: 
            {% endif %}
        {% elif typeref == 'prp' %}
            <section class="proposition">
                <h1> Contre proposition à: 
        {% endif %} 
                {% if ref.content_object.title %}  
                    {{ref.content_object.title}} 
                {% else %}
                    {% if ref.content_object.text_op %} 
                        {{ref.content_object.text_op}} 
                    {% elif ref.content_object.text_dis %} 
                        {{ref.content_object.text_dis}}
                    {% elif ref.content_object.text_exp %} 
                        {{ref.content_object.text_exp}}
                    {% elif ref.content_object.text_prop %} 
                        {{ref.content_object.text_prop}} 
                    {% elif ref.content_object.text_q %} 
                        {{ref.content_object.text_q}}
                    {% endif %}
                {% endif %}</h1>    
                {% if ref.title %}    
                    <h2>{{ref.title}}</h2>
                    {% if typeref == 'qst' %}
                        <p>{{ref.text_q}}</p>
                    {% elif typeref == 'exp' %}
                        <p>{{ref.text_exp}}</p>
                    {% elif typeref == 'dis' %}
                        <p>{{ref.text_dis}}</p>
                    {% elif typeref == 'opn' %}
                        <p>{{ref.text_op}}</p>
                    {% elif typeref == 'prp' %}
                        <p>{{ref.text_prop}}</p>
                    {% endif %}
                {% else %}
                    {% if typeref == 'qst' %}
                        <h2>{{ref.text_q}}</h2>
                    {% elif typeref == 'exp' %}
                        <h2>{{ref.text_exp}}</h2>
                    {% elif typeref == 'dis' %}
                        <h2>{{ref.text_dis}}</h2>
                    {% elif typeref == 'opn' %}
                        <h2>{{ref.text_op}}</h2>
                    {% elif typeref == 'prp' %}
                        <h2>{{ref.text_prop}}</h2>
                    {% endif %}
                {% endif %}
    {% endif %}
                <br><br>
                <p class="count"> <img src="{% static 'icons/qst.png' %}" alt="?" class="icn"> {{ref.nb_q}}
                <img src="{% static 'icons/exp.png' %}" alt="com" class="icn"> {{ref.nb_exp}} 
                </p>
                <p class="vote">
                    <input type="image" src="{% static 'icons/thumbs_up.png' %}" class="UP" name="{{typeref}}:{{ref.id}}" value="UP"/>
                    <input type="image" src="{% static 'icons/thumbs_down.png' %}" class="DOWN" name="{{typeref}}:{{ref.id}}" value="DOWN"/>
                        note:
                    <canvas id="don{{typeref}}{{ref.id}}" name="{{ref.approval_ratio}}" class="donut"></canvas>
                </p>
                {% if typeref == 'prp' or typeref == 'loi'%}
                    <br>
                    <br>
                    <br>
                    <br>
                    <hr>
                    <article class="Bigposopinion">
                        <h2>Points positifs</h2>
                        <div id="posopdiv">
                            <table>
                                <tbody>
                                    {% for x in listposop %}
                                        <tr>
                                            <td class="posopinion"> 
                                                <div class='clickable GetReflection' name='opn:{{x.id}}'>
                                                {% if x.title%}
                                                    {{x.title}} <br/>
                                                    {{x.text_op|truncatewords:250}} <br/>
                                                {% else %}
                                                    {{x.text_op}} <br/>
                                                {% endif %}
                                                </div>
                                                <hr>
                                                <div class="count">
                                                <img src="{% static 'icons/qst.png' %}" alt="?" class="icn"> {{x.nb_q}}
                                                <img src="{% static 'icons/exp.png' %}" alt="com" class="icn"> {{x.nb_exp}}
                                                </div>
                                                <div class="vote">
                                                <input type="image" src="{% static 'icons/thumbs_up.png' %}" class="UP" name="opn:{{x.id}}" value="UP"/>
                                                <input type="image" src="{% static 'icons/thumbs_down.png' %}" class="DOWN" name="opn:{{x.id}}" value="DOWN"/>
                                                    note:
                                                <canvas id="donopn{{x.id}}" name="{{x.approval_ratio}}" class="donut"></canvas>
                                                </div>
                                                {% comment %}
                                                <var id="opn{{x.id}}">{{x.approval_ratio|floatformat:2}}</var> % d'approbation</td> {% endcomment %}
                                        </tr>
                                    {% empty %}
                                        Aucun point positif n'a été relevé pour le moment sur cette réflection. Soyez le premier à en donner un!
                                    {% endfor %}
                                </tbody>
                            </table>
                        <div id='pos{{x.id}}comments'>
                            <button class="butopp" type="button">Ajouter un point positif ou <br> négatif sur cette loi</button>
                            <form action="{% url 'PostReflection'%}" method="post" id="oppform" name="loi:opp:{{ref.id}}">
                                {{ oppform.as_p }}
                                <input type="hidden" name="typeform" value="oppf">
                                <input type="hidden" name="typeref" value="{{typeref}}">
                                <input type="hidden" name="ref_id" value="{{ref.id}}">
                                <!-- <input type="hidden" name="ref_id" value="{{ref.id}}"> -->
                                <button type="submit" class="posopinion" name="btnoppform">Poster le point de vue</button>
                            </form>
                        </div>    
                    </article>

                    <article class="Bignegopinion">
                        <h2>Points négatifs</h2>
                            <table>
                                <tbody>
                                    {% for x in listnegop %}
                                        <tr>
                                            <td class="negopinion">
                                                <div onclick="location.href='{% url 'reflection' 'opn' x.id %}'" class='clickable'>
                                                {% if x.title%}
                                                    {{x.title}} <br/>
                                                    {{x.text_op|truncatewords:250}} <br/>
                                                {% else %}
                                                    {{x.text_op}} <br/>
                                                {% endif %}
                                                </div>
                                                <hr>
                                                <div class="count">
                                                <img src="{% static 'icons/qst.png' %}" alt="?" class="icn"> {{x.nb_q}}
                                                <img src="{% static 'icons/exp.png' %}" alt="com" class="icn"> {{x.nb_exp}}
                                                </div>
                                                <div class="vote">
                                                <input type="image" src="{% static 'icons/thumbs_up.png' %}" class="UP" name="opn:{{x.id}}" value="UP"/>
                                                <input type="image" src="{% static 'icons/thumbs_down.png' %}" class="DOWN" name="opn:{{x.id}}" value="DOWN"/>
                                                    note:
                                                <canvas id="donopn{{x.id}}" name="{{x.approval_ratio}}" class="donut"></canvas>
                                                </div>
                                                {% comment %}
                                                <var id="opn{{x.id}}">{{x.approval_ratio|floatformat:2}}</var> % d'approbation {% endcomment %}
                                            </td>
                                        </tr>
                                    {% empty %}
                                        Aucun point négatif n'a été relevé pour le moment sur cette réflection. Soyez le premier à en donner un! 
                                    {% endfor %}
                                </tbody>
                            </table> 
                        <div id='neg{{x.id}}comments'>
                            <button class="butopn" type="button">Ajouter un point positif ou <br> négatif sur cette loi</button>
                            <form action="{% url 'PostReflection'%}" method="post"  id="opnform" name="loi:opn:{{ref.id}}">
                                {{ opnform.as_p }}
                                <input type="hidden" name="typeform" value="opnf">
                                <input type="hidden" name="typeref" value="{{typeref}}">
                                <input type="hidden" name="ref_id" value="{{ref.id}}">
                                <button type="submit" class="negopinion" name="btnopnform">Poster le point de vue</button>
                            </form>     
                        </div>    
                    </article>
                {% endif %}
            </section>

<!--############################################################################################
################################      The propositions       ###################################
#############################################################################################-->
    {% if typeref == 'loi' or typeref == 'prp' %}
    <hr>

        <section class="Bigproposition" id="propsection">
            <h2>Autres propositions de lois pour cette réflection</h2>
            <table>
                <tbody>
                    {% for x in listpropositions %}
                        <tr>
                            <td class="proposition" >
                                <div class="IDB GetReflection" name="prp:{{x.id}}">
                                    {% if x.title %}
                                        <strong>{{x.title}}</strong> <br/>
                                        {{x.text_prop|truncatewords:80}} <br/>
                                    {% else %}
                                        <strong>{{x.text_prop}}</strong> <br/>
                                    {% endif %}
                                </div>
                                <hr>
                                <div class="count">
                                <img src="{% static 'icons/qst.png' %}" alt="?" class="icn"> {{x.nb_q}}
                                <img src="{% static 'icons/exp.png' %}" alt="com" class="icn"> {{x.nb_exp}} 
                                <img src="{% static 'icons/opv2.png' %}" alt="opp" class="icn"> {{x.nb_posop}}
                                <img src="{% static 'icons/opx2.png' %}" alt="opn" class="icn"> {{x.nb_negop}}
                                </div>
                                <div class="vote">
                                <input type="image" src="{% static 'icons/thumbs_up.png' %}"  class="UP" name="prp:{{x.id}}" value="UP"/>
                                <input type="image" src="{% static 'icons/thumbs_down.png' %}"  class="DOWN" name="prp:{{x.id}}" value="DOWN"/>
                                    note:
                                <canvas id="donprp{{x.id}}" name="{{x.approval_ratio}}" class="donut"></canvas>
                                </div>
                            </td>                   
                        </tr>
                    {% empty %}
                    Aucune contre-proposition n'a été faite pour le moment sur cette réflection.<br>
                    Soyez le premier à en faire un!
                    {% endfor %}
                </tbody>
            </table> 
        <div id='prp{{x.id}}comments'>
            <button class="butprp" type="button">Faire une autre proposition <br>  que cette loi</button>
                <form action="{% url 'PostReflection'%}"  method="post" id="prpform">
                    {{ prpform.as_p }} 
                    <input type="hidden" name="typeform" value="prpf">
                    <input type="hidden" name="typeref" value="{{typeref}}">
                    <input type="hidden" name="ref_id" value="{{ref.id}}">
                    <button type="submit" class="butprp" name="prpform">Poster votre proposition </button>
                </form> 
        </div>
        </section>
           
    {% endif %}

<!--############################################################################################
######################################     the Debate      #####################################
#############################################################################################-->

<section id="{{typeref}}newdebate{{id_ref}}">
    <table>    
             {% for x in listcom %}
            <tr>
                {% if x|isinst:'CreateYourLaws.models.Explaination' %}    
                    <td class='explaination' id="exptd{{x.id}}"> {% comment %} <div class="IDB GetReflection" name="exp:{{x.id}}"> {% endcomment %} 
                        {% if x.title %}
                            <strong>{{x.title}}</strong> <br/>
                            {{x.text_exp|truncatewords:80}} <br/>
                        {% else %}
                            <strong>{{x.text_exp}}</strong> <br/>
                        {% endif %}
                {% else %}
                    <td class='question' id="qsttd{{x.id}}">  {% comment %} <div class="IDB GetReflection" name="qst:{{x.id}}"> {% endcomment %}
                        {% if x.title %}
                            <strong>{{x.title}}</strong> <br/>
                            {{x.text_q|truncatewords:80}} <br/>
                        {% else %}
                            <strong>{{x.text_q}}</strong> <br/>
                        {% endif %}
                {% endif %}  
                <hr>                  
                <div class="count">
                    <img src="{% static 'icons/qst.png' %}" alt="?" class="icn"> {{x.nb_q}}
                    <img src="{% static 'icons/exp.png' %}" alt="com" class="icn"> {{x.nb_exp}} 
                </div>
                <div class="vote">
                {% if x|isinst:'CreateYourLaws.models.Explaination' %}   
                    <input type="image" src="{% static 'icons/thumbs_up.png' %}"  class="UP" name="exp:{{x.id}}" value="UP"/>
                    <input type="image" src="{% static 'icons/thumbs_down.png' %}"  class="DOWN" name="exp:{{x.id}}" value="DOWN"/>
                     note:
                    <canvas id="donexp{{x.id}}" name="{{x.approval_ratio}}" class="donut"></canvas>
                {% else %}
                    <input type="image" src="{% static 'icons/thumbs_up.png' %}"  class="UP" name="qst:{{x.id}}" value="UP"/>
                    <input type="image" src="{% static 'icons/thumbs_down.png' %}"  class="DOWN" name="qst:{{x.id}}" value="DOWN"/>
                    note:
                    <canvas id="donqst{{x.id}}" name="{{x.approval_ratio}}" class="donut"></canvas>
                {% endif %}
                </div>
                <br>
                <br>
                <br>
                <hr>
                {% if x|isinst:'CreateYourLaws.models.Explaination' %}
                    <p id="devexp{{x.id}}" style='text-align: center;'>
                {% else %}
                    <p id="devqst{{x.id}}" style='text-align: center;'>
                {% endif %}
                    {% if x.nb_exp != 0 or x.nb_q != 0 %}
                        {% if x|isinst:'CreateYourLaws.models.Explaination' %}
                            <div class="GetDebateChild" name="childexp{{x.id}}" id="childexp{{x.id}}"> Voir les réactions à ce commentaire </div>
                        {% else %}
                            <div class="GetDebateChild" name="childqst{{x.id}}" id="childqst{{x.id}}"> Voir les réactions à ce commentaire </div>
                        {% endif %}
                    {% else %}
                        <br>
                        {% if x|isinst:'CreateYourLaws.models.Explaination' %}
                        <div id='exp{{x.id}}comments'>
                            Poser une question ou commentez cette réaction! <br>
                            <button class="butexp" type="button" name="exp:exp:{{x.id}}"> Commenter </button>
                            <button class="butqst" type="button" name="exp:qst:{{x.id}}">Poser votre question </button>
                            <p id="expaskform{{x.id}}"></p>
                        </div>
                        {% else %}
                        <div id='qst{{x.id}}comments'>
                            Poser une question ou commentez cette réaction! <br>
                            <button class="butexp" type="button" name="qst:exp:{{x.id}}"> Commenter </button>
                            <button class="butqst" type="button" name="qst:qst:{{x.id}}">Poser votre question </button>
                            <p id="qstaskform{{x.id}}"></p>
                        </div>
                        {% endif %}
                    {% endif %}

                    </p>
                </td>                   
            </tr>
            {% endfor %}            
        </table> 
        <h2>une réaction? Commentez ou posez votre question</h2>
        <button class="butexp" name="{{typeref}}:exp:{{id_ref}}" type="button"> Commenter </button>
        <button class="butqst" name="{{typeref}}:qst:{{id_ref}}" type="button">Poser votre question </button>
        <p id="{{typeref}}askform{{id_ref}}"></p>
</section>

{% endautoescape %}

{% endblock %}