{% load special_filters %}

<h1> Où suis-je? </h1>
<p> 
    {% if typeref == 'loi' %}    <!--         The path to the Article           -->
        {% for x in listparents %}
            <var class="InDatBox" name="{{x|lookup:2}}:{{x|lookup:1}}"><strong>  {{x|lookup:0|truncatewords:4}}  </strong></var>  >>     
        {% endfor %}
        {{ref.title}}

    {% else %}   <!--         The path to the reflection       -->
        <var class="InDatBox" name="1:{{x|lookup:1}}"><strong>  {{ law_code.title|truncatewords:4}}  </strong></var>  >>  ...  >>
        {% for x in list_parents %}
            <var class="GetReflection" name="{{x|lookup:0}}:{{x|lookup:1}}"><strong>  {{x|lookup:2|truncatewords:4}}  </strong></var>  >>     
        {% endfor %}
        {% if ref.title %}    
            {{ref.title|truncatewords:8}}
        {% else %}
            {{ref.text|truncatewords:8}}
        {% endif %}
    {% endif %}
</p>