{% load special_filters %}
{% load staticfiles %}

<script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>

{% autoescape off %}

{% if typeform == 'opnf' %}
    {% if ref.positive %}
        <h2>Autres propositions de lois pour cette réflection</h2>
    {% else %}
        <h2>Autres propositions de lois pour cette réflection</h2>
    {% endif %}
{% elif typeform == 'prpf' %}
    <h2>Autres propositions de lois pour cette réflection</h2>
{% endif %} 


<table>
        {% for x in listref %}
            <tr>
                {% if x|isinst:'CreateYourLaws.models.Explaination' %} 
                    <td class="explaination" id="exptd{{x.id}}"> 
                {% elif x|isinst:'CreateYourLaws.models.Question' %}
                    <td class="question" id="qsttd{{x.id}}"> 
                {% elif x|isinst:'CreateYourLaws.models.Posopinion' %}
                    <td class="posopinion" id="postd{{x.id}}"> 
                {% elif x|isinst:'CreateYourLaws.models.Negopinion' %}
                    <td class="negopinion" id="negtd{{x.id}}"> 
                {% elif x|isinst:'CreateYourLaws.models.Proposition' %}
                    <td class="proposition" id="prptd{{x.id}}"> 
                {% endif %} 
                        {% if x.title %}
                            <strong>{{x.title}}</strong> <br/>
                            {% if x|isinst:'CreateYourLaws.models.Question' %} 
                                {{x.text_q|truncatewords:80}} <br/>
                            {% elif x|isinst:'CreateYourLaws.models.Explaination' %}
                                {{x.text_exp|truncatewords:80}} <br/>
                            {% elif x|isinst:'CreateYourLaws.models.Posopinion' %}
                                {{x.text_opp|truncatewords:80}} <br/>
                            {% elif x|isinst:'CreateYourLaws.models.Negopinion' %}
                                {{x.text_opn|truncatewords:80}} <br/>
                            {% elif x|isinst:'CreateYourLaws.models.Proposition' %}
                                {{x.text_prop|truncatewords:80}} <br/>
                            {% endif %}  
                       {% else %}
                            {% if x|isinst:'CreateYourLaws.models.Question' %} 
                                <strong>{{x.text_q}}</strong> <br/>
                            {% elif x|isinst:'CreateYourLaws.models.Explaination' %}
                                <strong>{{x.text_exp}}</strong> <br/>
                            {% elif x|isinst:'CreateYourLaws.models.Posopinion' %}
                                <strong>{{x.text_opp}}</strong> <br/>
                            {% elif x|isinst:'CreateYourLaws.models.Negopinion' %}
                                <strong>{{x.text_opn}}</strong> <br/>
                            {% elif x|isinst:'CreateYourLaws.models.Proposition' %}
                                <strong>{{x.text_prop}}</strong> <br/>
                            {% endif %} 
                        {% endif %}
                    <p class="count">
                    <img src="{% static 'icons/qst.png' %}" alt="?" class="icn"> {{x.nb_q}}
                    <img src="{% static 'icons/exp.png' %}" alt="com" class="icn"> {{x.nb_exp}} 
                    {% if x|isinst:'CreateYourLaws.models.Posopinion' or x|isinst:'CreateYourLaws.models.Negopinion' or x|isinst:'CreateYourLaws.models.Proposition' %}
                        <img src="{% static 'icons/opv2.png' %}" alt="op+" class="icn"> {{x.nb_posop}}
                        <img src="{% static 'icons/opx2.png' %}" alt="op-" class="icn"> {{x.nb_negop}}
                    {% endif %}
                    </p>

                    {% if x|isinst:'CreateYourLaws.models.Question' %} 
                        <p class="vote">
                        <input type="image" src="{% static 'icons/thumbs_up.png' %}"  class="UP" name="qst:{{x.id}}" value="UP"/>
                        <input type="image" src="{% static 'icons/thumbs_down.png' %}"  class="DOWN" name="qst:{{x.id}}" value="DOWN"/>
                            note:
                        <canvas id="donqst{{x.id}}" name="{{x.approval_ratio}}" class="donut"></canvas>
                        </p>
                        <p id="devqst{{x.id}}" style='text-align: center;'>
                        {% if x.nb_exp != 0 or x.nb_q != 0 %}
                            <div class="GetDebateChild" name="childqst{{x.id}}" id="childqst{{x.id}}"> Voir les réactions à ce commentaire </div>
                        {% else %}
                        <br>
                        <div id='qst{{x.id}}comments'>
                            Poser une question ou commentez cette réaction! <br>
                            <button class="butexp" type="button" name="qst:exp:{{x.id}}"> Commenter </button>
                            <button class="butqst" type="button" name="qst:qst:{{x.id}}">Poser votre question </button>
                            <p id="qstaskform{{x.id}}"></p>
                        </div>
                        {% endif %}
                    {% elif x|isinst:'CreateYourLaws.models.Explaination' %}
                        <p class="vote">
                        <input type="image" src="{% static 'icons/thumbs_up.png' %}"  class="UP" name="exp:{{x.id}}" value="UP"/>
                        <input type="image" src="{% static 'icons/thumbs_down.png' %}"  class="DOWN" name="exp:{{x.id}}" value="DOWN"/>
                            note:
                        <canvas id="donexp{{x.id}}" name="{{x.approval_ratio}}" class="donut"></canvas>
                        </p>
                        <p id="devexp{{x.id}}" style='text-align: center;'>
                        {% if x.nb_exp != 0 or x.nb_q != 0 %}
                            <div class="GetDebateChild" name="childexp{{x.id}}" id="childexp{{x.id}}"> Voir les réactions à ce commentaire </div>
                        {% else %}
                        <br>
                        <div id='exp{{x.id}}comments'>
                            Poser une question ou commentez cette réaction! <br>
                            <button class="butexp" type="button" name="exp:exp:{{x.id}}"> Commenter </button>
                            <button class="butqst" type="button" name="exp:qst:{{x.id}}">Poser votre question </button>
                            <p id="expaskform{{x.id}}"></p>
                        </div>
                        {% endif %}
                    {% elif x|isinst:'CreateYourLaws.models.Posopinion' %}
                        <p class="vote">
                        <input type="image" src="{% static 'icons/thumbs_up.png' %}"  class="UP" name="opp:{{x.id}}" value="UP"/>
                        <input type="image" src="{% static 'icons/thumbs_down.png' %}"  class="DOWN" name="opp:{{x.id}}" value="DOWN"/>
                            note:
                        <canvas id="donopp{{x.id}}" name="{{x.approval_ratio}}" class="donut"></canvas>
                        </p>
                    {% elif x|isinst:'CreateYourLaws.models.Negopinion' %}
                        <p class="vote">
                        <input type="image" src="{% static 'icons/thumbs_up.png' %}"  class="UP" name="opn:{{x.id}}" value="UP"/>
                        <input type="image" src="{% static 'icons/thumbs_down.png' %}"  class="DOWN" name="opn:{{x.id}}" value="DOWN"/>
                            note:
                        <canvas id="donopn{{x.id}}" name="{{x.approval_ratio}}" class="donut"></canvas>
                        </p>
                    {% elif x|isinst:'CreateYourLaws.models.Proposition' %}
                        <p class="vote">
                        <input type="image" src="{% static 'icons/thumbs_up.png' %}"  class="UP" name="prp:{{x.id}}" value="UP"/>
                        <input type="image" src="{% static 'icons/thumbs_down.png' %}"  class="DOWN" name="prp:{{x.id}}" value="DOWN"/>
                            note:
                        <canvas id="donprp{{x.id}}" name="{{x.approval_ratio}}" class="donut"></canvas>
                    </p>
                    {% endif %}  
                </td>                   
            </tr>
        {% endfor %}
</table> 
{% if typeform == 'expf' or typeform == 'qstf'%}
    <h2>une autre réaction? Commentez ou posez votre question</h2>
    <button class="butexp" name="{{typeref}}:exp:{{id_ref}}" type="button"> Commenter </button>
    <button class="butqst" name="{{typeref}}:qst:{{id_ref}}" type="button">Poser votre question </button>
    <p id="{{typeref}}askform{{id_ref}}"></p>
{% elif typeform == 'prpf' %}
    <button class="butprp" type="button">Faire une autre proposition <br>  que cette loi</button>
    <form action="{% url 'PostReflection'%}"  method="post" id="prpform">
        {{ prpform.as_p }} 
        <input type="hidden" name="typeform" value="prpf">
        <input type="hidden" name="typeref" value="{{typeref}}">
        <input type="hidden" name="ref_id" value="{{ref.id}}">
        <button type="submit" class="butprp" name="prpform">Poster votre proposition </button>
    </form> 
{% elif typeform == "opn" %}
        <button class="butprp" type="button">donner un point positif qu'apporte cette loi</button>
    <form action="{% url 'PostReflection'%}"  method="post" id="prpform">
        {{ prpform.as_p }} 
        <input type="hidden" name="typeform" value="prpf">
        <input type="hidden" name="typeref" value="{{typeref}}">
        <input type="hidden" name="ref_id" value="{{ref.id}}">
        <button type="submit" class="butprp" name="prpform">Poster</button>
    </form> 
{% elif typeform == "opp" %}
    <button class="butprp" type="button">donner un point négatif qu'engendre cette loi</button>
    <form action="{% url 'PostReflection'%}"  method="post" id="prpform">
        {{ prpform.as_p }} 
        <input type="hidden" name="typeform" value="prpf">
        <input type="hidden" name="typeref" value="{{typeref}}">
        <input type="hidden" name="ref_id" value="{{ref.id}}">
        <button type="submit" class="butprp" name="prpform">Poster</button>
    </form> 
{% endif %}

{% comment %}
            {% x|isinst:'CreateYourLaws.models.Explaination' %} 
                Aucun commentaire n'a été fait pour le moment sur cette réflection.<br>
            {% elif x|isinst:'CreateYourLaws.models.Question' %}
                Aucune question n'a été posée pour le moment sur cette réflection.<br>
                Soyez le premier à en poser une!
            {% elif x|isinst:'CreateYourLaws.models.Opinion' %}
                {% if ref.positive %}
                    Aucun avis positifs n'a été donné pour le moment sur cette réflection
                {% else %}
                    Aucune contre-proposition n'a été faite pour le moment sur cette réflection
                {% endif %}
            {% elif x|isinst:'CreateYourLaws.models.Proposition' %}
                Aucune contre-proposition n'a été faite pour le moment sur cette réflection.<br>
                Soyez le premier à en faire une!
            {% endif %} 
<button class="butprp" type="button">Faire une autre proposition <br>  que cette loi</button>
    <form action="{% url 'PostReflection'%}"  method="post" id="prpform">
        {{ prpform.as_p }} 
        <input type="hidden" name="typeform" value="prpf">
        <input type="hidden" name="typeref" value="{{typeref}}">
        <input type="hidden" name="ref_id" value="{{ref.id}}">
        <button type="submit" class="butprp" name="prpform">Poster votre proposition </button>
    </form> 


{% comment %}
{% if typeform == 'qst' %} 
    <strong>{{x.text_q}}</strong> <br/>
{% elif typeform== 'exp' %}
    <strong>{{x.text_exp}}</strong> <br/>
{% elif typeform == 'opn' %}
    <strong>{{x.text_op}}</strong> <br/>
{% elif typeform == 'prp' %}
    <strong>{{x.text_prop}}</strong> <br/>
{% endif %}
<form action="{% url 'PostReflection' %}"  method="post" id="propform">
    {{ propform.as_p }} 
    <input type="hidden" name="typeform" value="prpf">
    <input type="hidden" name="typeref" value="{{typeref}}">
    <input type="hidden" name="ref_id" value="{{ref.id}}">
    <button type="submit" class="butprop" name="propform">Poster votre proposition </button>
</form> 
{% endcomment %}

{% endautoescape %}