{% load special_filters %}

<article style="padding-right:2%;">	
	<h1>{{Box.title}}</h1>
		<p>
			<ul style="list-style:none;">
			{% for x in lqs %}
				<li>
			    {% if x|isinst:'CreateYourLaws.models.LawArticle' %}
				    <div class="IDB GetReflection" name="loi:{{x.id}}"><label class="suscribe" id="checkloi{{x.id}}"><input type="checkbox" name="checkloi{{x.id}}">s'abonner</label>
				    {% autoescape off %}
					    <strong>{{x.title}}</strong><br>
				    	<p>{{x.text_law}}</p>
				    	</a><br/><br/>
				    {% endautoescape %}
				    </div>
			    {% else %}
				    <div class="InDatBox" name="2:{{x.id}}"><label class="suscribe"><input type="checkbox" id="checkbox{{x.id}}">s'abonner</label>
				    	<p style="color: navy; font-weight:bold;"><strong>{{x.title}}</strong><br/></p>
				    </div>
			    {% endif %}
			    </li>
			{% endfor %}
			</ul>
		</p>
</article>