{% extends "base_CYL.html" %}

{% block title %}Home{% endblock %}
{% load staticfiles %}
{% load special_filters %}

{% block nav %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/jstree-style.css' %}" />
  	<div id="jstree_CYL"></div>
{% endblock %}

{% block intro %}
	<h1>Créons nos lois!</h1>
	<p>
		Bienvenu sur democratos. Ici, vous pouvez acceder à tous les textes de lois actuellement en vigueur, les commenter, les critiquer, les questionner, les expliquer, les débatre, proposer des lois alternatives... Bref, ceci est un outil pour nous permettre de nous réaproprier nos règles de vie dans nôtre pays. 
	</p>
	<p>
		C'est parti! Choisissez un code de lois et laissez vous guider...	
	</p>
{% endblock %}

{% block content %}
	<article>	
			<p>
				<ul style="list-style:none;">
				{% for x in lqs %}
				    <li class= "InDatBox" name="1:{{x.id}}"><strong>{{x.title}}</strong></li><br/>
				{% endfor %}
				</ul>
			</p>
	</article>
{% endblock %}
